@model IEnumerable<PruebaAtlantidaFE.Models.TarjetaCreditoCLS>


<h3>Listado de tarjetas</h3>

<div style="padding: 10px"></div>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>        
        <td>
            @Html.ActionLink("Ver Estado de cuenta", "VerEstadoCuenta", "TarjetaCredito", new { Numero = item.Numero }, null) |
            @Html.ActionLink("Registrar Compra", "RegistrarCompra", "Movimiento", new { IdtarjetaCredito = item.Id }, null) |
            @Html.ActionLink("Registrar Pago", "RegistrarPago", "Movimiento", new { IdtarjetaCredito = item.Id }, null) |
            @Html.ActionLink("Ver Historial", "VerHistorial", "Movimiento", new { IdtarjetaCredito = item.Id }, null)

        </td>
    </tr>
}

</table>
